<nav class="bg-zinc-800 px-2 py-5 border-gray-200 shadow-md">

   <div class="md:flex justify-around items-center">

    <div>
        <img 
        class="w-20 m-auto"
        routerLink="/app"
        src="/assets/images/logo.png" alt="">
    </div>

   
        <div class="md:flex items-center gap-2 text-center mt-3 md:mt-0" >
          <fa-icon 
          [icon]="faSearch"></fa-icon>
              <input 
              #textTermino
              (keyup)="search(textTermino.value)"
              cdkOverlayOrigin
              #menuOverlay="cdkOverlayOrigin"      
              class="rounded-lg lg:w-96 m-auto md:m-0 outline-none border border-zinc-600 block p-2  bg-zinc-800"
              placeholder="Search movies"
              type="search">
           
          </div>
          
   </div>

</nav>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="menuOverlay"
  [cdkConnectedOverlayOpen]="isOpen"
  (click)="closeOverlay()"

>

<div class="text-center mt-2">
    <fa-icon
*ngIf="!movies"
[icon]="faSpinner"></fa-icon>
</div>
  <div
  class="z-50 my-4 w-60 text-base list-none bg-zinc-500 rounded divide-y divide-gray-100 shadow max-h-[400px] overflow-y-auto"
  >
    <div class="py-2 px-4 text-center relative">
      <span class="block text-normal text-gray-900">Results</span>
      <div *ngIf="status === 'failed'">
        <p>No hay resultados para la busqueda</p>
      </div>
    </div>
    <div class="flex flex-col">
      <div *ngFor="let movie of movies" class="flex justify-between items-center py-2 px-4 gap-5">
        <div>
          <img 
          class="cursor-pointer"
          [routerLink]="['/app/movie', movie.id]"
          [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="" />
        </div>
        <div>
          <p class="text-sm text-white font-bold">{{movie.title}}</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<router-outlet></router-outlet>
